
.header{
    /*DeepSkyBlue4*/
    background: #00688B;
    width: 100%;
    color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.header-title{
    font-weight: 500;
    font-size: 1.3em;
    display: inline-block;
    padding: 1%;
}